.breadcrumb {
    background: none !important;
    border: 0 !important;
}

ol.breadcrumb {
    padding: 16px 0;
    margin-bottom: 0!important;
}

ol.breadcrumb li a {
    display: inline-block;
    font-size: 12px;
    color: #999;
    text-decoration: none;
}


/* END BREADCRUMB */

#detail-product-wp .section-detail {
    height: 550px;
}

.info-left {
    padding-left: 0!important;
    padding-right: 25px!important;
}

.info-left ul.list-thumb {
    width: 65px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    /* vertical-align: top; */
}

.info-left ul.list-thumb li {
    width: 50px;
    height: 66px;
    padding: 2px;
    margin-bottom: 5px;
    border: 1px solid #d7c3c3;
}

.info-left ul.list-thumb li.active {
    width: 50px;
    height: 66px;
    padding: 2px;
    margin-bottom: 5px;
    border: 1px solid #222;
}

ul.list-thumb li a {
    display: block;
}

ul.list-thumb li a img {
    display: block;
    width: 44px;
    height: 60px;
}

.show-picture {
    width: 464px;
    height: 100%;
}

.show-picture a img {
    display: block;
    width: 100%;
}


/* END INFO-LEFT */

.info-right-inner {
    max-height: 550px;
    overflow: auto;
}

.info-right-inner::-webkit-scrollbar {
    display: none;
}

.info-right {
    padding-right: 0!important;
    padding-left: 25px!important;
    min-height: 618px;
    width: 420px;
}

.info-right .product-head {
    margin-bottom: 25px;
    position: relative;
}

.info-right .product-head .name-product {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #222;
    text-transform: uppercase;
}

.info-right .SKU-review-product {
    margin-bottom: 10px;
    font-size: 12px;
}

.info-right .SKU-review-product .SKU-product {
    color: #767676;
    margin-right: 10px;
}

.info-right .SKU-review-product .review-product .common-rate {
    font-size: 12px;
    margin-right: 5px;
    color: #facf19;
}

.icon-star {
    vertical-align: 2px;
}

.info-right .SKU-review-product .review-product .comment {
    font-size: 12px;
    color: #facf19;
}

.info-right .price-product .price {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #d70018;
}


/* END PRODUCT-HEAD */

.info-right .product-color-size {
    padding-top: 10px;
    border-top: 1px dashed #e5e5e5;
}

.info-right .product-color-size .product-color {
    margin-top: 15px;
}

.info-right .product-color-size .product-color .product-color-title .color {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.info-right .product-color-size .product-color .product-color-title .more-color {
    display: inline-block;
    padding-left: 9px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.product-color-size .product-color-detail {
    padding-top: 15px;
}

.product-color-size .product-color-detail .color-item {
    margin-right: 10px;
    padding: 3px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid transparent;
}

.product-color-size .product-color-detail .color-item.active {
    margin-right: 10px;
    padding: 3px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
}

.product-color-size .product-color-detail .color-item a img {
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}


/* END COLOR */

.info-right-item .desc {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #efdddd;
    border-radius: 10px;
}


/* .desc .info {
    font-size: 16px;
    font-weight: 700;
}

.desc p {
    margin-bottom: 0;
    font-size: 15px;
} */

.info-right-item #promotion {
    display: flex;
    font-size: 16px;
    color: #1D1D1F;
    padding: 5px 15px;
}

.info-right-item #promotion h5 {
    font-size: 15px;
    margin-left: 5px;
}

.info-right-item #wp-list-promotion {
    padding: 0 20px 0 33px;
}

.info-right-item .title {
    display: flex;
    color: #E03E2D;
    font-weight: 700;
    align-items: center;
}

.info-right-item .title i {
    font-size: 12px;
}

.title span {
    margin-left: 5px;
    font-size: 14px;
}

.content-first {
    display: flex;
    align-items: center;
}

.content-first i {
    font-size: 5px;
    padding-left: 3px;
    margin-right: 11px;
    transform: translateY(-87%);
}

.content-first p {
    font-size: 14px;
    color: #000;
    list-style: circle!important;
}

.content ul#list-content li {
    list-style: disc!important;
    margin-left: 20px;
    font-size: 14px;
}


/* END INFO */

.card-product-add {
    margin-top: 15px;
}

.card-product-add .product-add-icon-heart .product-add .btn-product-add {
    display: inline-block;
    min-width: 490px;
    height: 54px;
    line-height: 52px;
    text-align: center;
    padding: 0 30px;
    border: 0;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(#ac0204, #e11b1e);
    color: #fff;
    transition: background .2s;
    background: #161616;
}

.card-product-add .product-add-icon-heart .product-add .btn-product-add:hover {
    background: rgba(42, 42, 42, 0.9);
}

.card-product-add .product-add-icon-heart .icon-heart {
    margin-left: 17px;
    width: 54px;
    height: 54px;
    line-height: 63px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}

.card-product-add .product-add-icon-heart .icon-heart .icon-heart-inner {
    font-size: 30px;
}

.card-product-add .product-add-tip {
    margin-top: 10px;
    font-size: 12px;
    color: #767676;
}

.product-freeship {
    margin-top: 25px;
    background-color: #f7f8fa;
}

.product-freeship .product-freeship-item {
    padding: 20px;
}

.product-freeship .COD-rule,
.product-freeship .return-policy {
    padding-top: 0!important;
}

.col-md-2 {
    flex: 0 !important;
}

.product-freeship .icon-product-freeship {
    font-size: 24px;
    padding: 0!important;
    padding-right: 10px!important;
    color: #198055;
}

.product-freeship .detail-product-freeship {
    padding: 0 !important;
}

.product-freeship .detail-product-freeship .title {
    margin-bottom: 5px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
}

.product-freeship .detail-product-freeship .text {
    color: #767676;
    font-size: 12px;
}


/* END PRODUCT-FREESHIP */

.product-bottom {
    margin-top: 25px;
}

.product-bottom .product-bottom-item {
    display: flex;
    position: relative;
}

.product-bottom .product-bottom-item h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    height: 47px;
    line-height: 47px;
}

.product-bottom .product-bottom-item i {
    position: absolute;
    font-size: 16px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* END PRODUCT-DETAIL-TOP */

#desc-wp {
    /* padding: 0 250px; */
    margin-top: 40px;
}

#desc-wp .section-title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#desc-wp .section-title h3 {
    display: inline-block;
    font-size: 25px;
    color: #0066CC;
    padding: 10px;
    min-width: 50px;
    height: auto;
    border: 1px solid #0066CC;
    border-radius: 8px;
    text-transform: uppercase;
}

#desc-wp .detail-desc {
    background-color: #fff;
    padding: 20px;
    margin: 0 180px;
    border-radius: 8px;
}

#desc-wp .detail-desc p {
    color: #000;
    font-size: 15px;
}


/* END DESC-WP */

#best-seller-category-wp .section-head {
    display: block;
    text-align: center;
}

#best-seller-category-wp h3 {
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 25px;
    color: #0066CC;
    font-weight: 700;
    text-align: center!important;
    border: 1px solid #0066CC;
    border-radius: 8px;
    padding: 10px;
}


/* END SAME-CATEGORY-WP */

#best-seller-category-wp .owl-nav {
    display: block!important;
}

#best-seller-category-wp .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    /* background: #fff; */
}

.owl-carousel-best-seller .item {
    background-color: #fff;
}

.owl-carousel-best-seller .owl-prev {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px!important;
    background: rgb(138, 137, 137)!important;
    opacity: 90%!important;
    height: 40px!important;
    line-height: 32px!important;
    text-align: center!important;
    width: 40px!important;
    border-radius: 20px!important;
    display: flex!important;
    justify-content: center!important;
}

.owl-carousel-best-seller .owl-next {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px!important;
    background: rgb(138, 137, 137)!important;
    opacity: 90%!important;
    height: 40px!important;
    line-height: 32px!important;
    text-align: center!important;
    width: 40px!important;
    border-radius: 20px!important;
    display: flex!important;
    justify-content: center!important;
}

.owl-prev,
.owl-next:hover {
    color: #000!important;
    background: #fff;
}

#best-seller-category-wp .owl-carousel-best-seller .item {
    margin: 0% 2%;
    background: #fff;
    padding: 10px 10px 30px 10px;
    text-align: center;
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 8%);
}

#best-seller-category-wp .owl-carousel-best-seller .item .product-name {
    display: block;
    color: #222;
    font-size: 17px;
    font-weight: 500;
    margin: 15px 0 5px;
    min-height: 43px;
}

#best-seller-category-wp .owl-carousel-best-seller .item .price {
    margin: 0 23px;
}

#best-seller-category-wp .owl-carousel-best-seller .item .price .new {
    display: inline-block;
    color: #f12a43;
    font-size: 15px;
    margin-right: 5px;
    font-weight: 500;
}

#best-seller-category-wp .owl-carousel-best-seller .item .price .old {
    display: inline-block;
    font-size: 15px;
    color: #999;
    text-decoration: line-through;
}