/*RESET BOOTSTRAP*/

.table {
    margin-bottom: 0!important;
}

.table thead {
    border-top: 1px solid #ddd;
}

.table>tfoot>tr>td {
    border-top: none!important;
}

.table tbody {
    background: #fff;
}


/*CART*/

#info-cart-wp table tr td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#info-cart-wp table thead tr td {
    font-size: 15px;
    line-height: normal;
    text-transform: uppercase;
    padding: 18px 25px;
    color: #333;
    background: #f1f1f1;
    border: 0;
}

#info-cart-wp table tbody tr td {
    color: #222;
    padding: 10px 0px;
}

#info-cart-wp table tbody tr td a.thumb {
    display: inline-block;
    width: 100px;
    min-height: 100px;
    border: 1px solid #ccc;
}

#info-cart-wp table tbody tr td a.thumb img {
    /* transform: translateY(30%); */
    padding: 12px;
}

#info-cart-wp table tbody tr td input {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#info-cart-wp table tfoot #total-price {
    text-align: right;
    font-size: 18px;
    text-transform: uppercase;
    margin: 25px 0px 20px 0px;
}

#info-cart-wp table tfoot tr td {
    padding: 0;
}

#info-cart-wp table tfoot #total-price span {
    color: #ad0000;
    font-family: 'Roboto Medium';
}

#info-cart-wp table tfoot #action {
    text-align: right;
}

#info-cart-wp table tfoot #action #update-cart {
    display: inline-block;
    padding: 12px 25px;
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    border-radius: 3px;
    background: #ececec;
    margin-right: 5px;
    border: 1px solid #d6d6d6;
}

#info-cart-wp table tfoot #action #checkout-cart {
    display: inline-block;
    padding: 12px 25px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #3f5da6;
    color: #fff;
}

#info-cart-wp table tfoot #action #update-cart:hover {
    background: #cac9c9;
}

#info-cart-wp table tfoot #action #checkout-cart:hover {
    background: #395497;
}


/* END info-cart-wp*/

#action-cart-wp {
    margin-top: 30px;
}

#action-cart-wp .title {
    margin-bottom: 10px;
}

#action-cart-wp .title span {
    font-weight: 500;
}

#action-cart-wp #buy-more {
    display: inline-block;
    margin-bottom: 5px;
    color: #006cbb;
    font-size: 14px;
    text-decoration: underline!important;
}

#action-cart-wp #delete-cart {
    display: inline-block;
    margin-bottom: 5px;
    color: #006cbb;
    font-size: 14px;
    text-decoration: underline!important;
}