#header-top {
    background-color: #f7f8fa;
    /* height: 68px;
    line-height: 68px; */
}

.header-top-left {
    height: 68px;
    line-height: 68px;
}

#header-top ul#menu-header-left li a {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #666;
    padding: 0px 12px;
    text-decoration: none;
}

#header-top ul#menu-header-left li:hover a {
    color: #000;
}

#header-top ul#menu-header-left li.active a {
    background-color: #fff;
    color: #000;
}


/* END HEADER-TOP-LEFT */

#header-top .header-logo a {
    display: inline-block;
    font-size: 45px;
    padding: 0px 30px;
    text-decoration: none;
    color: #222;
    font-weight: 650;
    letter-spacing: 5px;
    height: 68px;
    line-height: 68px;
}


/* END HEADER-LOGO */

#cart-wp {
    padding: 24px 30px 7px 0px;
}

.header-top-right #action-wp {
    text-align: right;
    /* line-height: 10px; */
}

#action-wp #advisory-wp {
    position: relative;
    line-height: 16px;
    padding: 20px 50px 7px 30px;
    margin-right: 20px;
    /* padding: 16px 30px 16px 50px; */
}

#action-wp #advisory-wp:after {
    position: absolute;
    content: '\f2a0';
    font-family: 'FontAwesome';
    font-size: 21px;
    color: #666;
    top: 50%;
    right: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid #666;
    text-align: center;
    transform: translateY(-50%);
    padding: 9px 0;
}

#action-wp #advisory-wp:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 50%;
    background: #000;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#action-wp #advisory-wp span.title {
    position: relative;
    color: #666;
    font-size: 15px;
}

#action-wp #advisory-wp span.phone {
    position: relative;
    color: #666;
    font-size: 16px;
}

#action-wp #cart-wp {
    position: relative;
    /* padding: 16px 0 16px 21px; */
    /* padding-left: 33px; */
    color: #666;
    cursor: pointer;
}

#action-wp #cart-wp #btn-cart {
    position: relative;
}

#action-wp #cart-wp #btn-cart .icon {
    font-size: 20px;
    width: 37px;
    height: 37px;
    line-height: 33px;
    text-align: center;
    border: 2px solid #666;
    border-radius: 50%;
    /* padding: 16px 0 16px 21px; */
    transform: translateY(-16%);
    /* position: absolute;
    top: -50%; */
}

#action-wp #cart-wp #btn-cart #num {
    position: absolute;
    top: -16px;
    right: -10px;
    font-size: 16px;
}

#cart-wp #dropdown {
    position: absolute;
    width: 250px;
    min-height: 250px;
    top: 70px;
    right: 0;
    background: #fff;
    color: #111;
    padding: 10px;
    border: 1px solid #e1e1e1;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    z-index: 1000;
    display: none;
    box-shadow: 0 6px 6px 0 rgb(0 0 0 / 8%);
}

#cart-wp:hover #dropdown {
    display: block;
    top: 60px;
    opacity: 1;
}

#cart-wp #dropdown p.desc {
    color: #000;
    margin-bottom: 15px;
    font-size: 15px;
}

#cart-wp #dropdown p.desc span {
    color: #d9263c;
    font-weight: 500;
}

#cart-wp #dropdown ul.list-cart {
    margin-bottom: 15px;
}

#cart-wp #dropdown ul.list-cart li {
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

#cart-wp #dropdown .list-cart li:last-child {
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    border-bottom: none;
}

#cart-wp #dropdown .list-cart li .thumb {
    width: 25%;
}

#cart-wp #dropdown .list-cart li .info {
    width: 75%;
    padding-left: 15px;
}

#cart-wp #dropdown .list-cart li .info a.product-name {
    display: block;
    color: #333;
    font-size: 13px;
}

#cart-wp #dropdown .list-cart li p.price {
    display: block;
    color: #333;
    font-size: 15px;
    /* margin-bottom: 0; */
    font-weight: 500;
}

#cart-wp #dropdown .list-cart li p.qty {
    display: block;
    color: #999;
    font-size: 13px;
}

#cart-wp #dropdown .total-price {
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 16px;
    font-weight: 700;
}

#cart-wp #dropdown .action-cart a {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 20px;
}

#cart-wp #dropdown .action-cart a.cart {
    background: #ddd;
    color: #333;
}

#cart-wp #dropdown .action-cart a.cart:hover {
    background: #ccc;
}

#cart-wp #dropdown .action-cart a.check-out {
    background: #d9263c;
    color: #fff;
}

#cart-wp #dropdown .action-cart a.check-out:hover {
    background: #af1427;
}


/* END HEADER-TOP-RIGHT */

#header-body {
    height: 48px;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 6px 12px 0 rgb(0 0 0 / 4%);
}

#header-body-left ul#main-menu>li>a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 14px 15px;
    color: #000;
}

#header-body-left ul#main-menu>li:hover>a {
    border-bottom: 2px solid #000;
}

#header-body-left ul#main-menu li:hover .header-cell-category {
    display: block;
}

#nav-wrapper {
    display: table;
    width: 100%;
    position: relative;
}

#header-body {
    display: table-cell;
}

nav.header-cell-category {
    position: absolute;
    display: block;
    max-width: 100%;
    top: 100%;
    right: 0;
    left: 0;
    background: #fff;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
    display: none;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.header-float {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 0 10px;
}

.header-float h6 a {
    display: inline-block;
    font-size: 15px!important;
    font-weight: 600;
    color: #000;
}

.header-float h6.last {
    margin-top: 20px;
    margin-bottom: 8px;
}

.header-float p {
    margin-bottom: 0;
}

.header-float p a {
    display: inline-block;
    margin-bottom: 15px;
    line-height: 5px;
    font-size: 14px;
    color: rgb(34, 34, 34);
    transition: all 0.5s ease;
}

.header-float p a:hover {
    color: #db0b23!important;
}

.header-float.border-right h6 {
    margin-bottom: 13px;
}

.cell-img {
    display: inline-block;
}

.cell-img .header-float-img a {
    display: block;
    padding: 0 5px;
}

.cell-img .header-float-img a img {
    height: 200px;
    /* display: block; */
}


/* END HEADER-BODY-LEFT */

form {
    position: relative;
}

#header-body-right input {
    width: 240px;
    height: 35px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 12px;
    padding-right: 36px;
    font-size: 13px;
    color: #767676;
}

#header-body-right button {
    position: absolute;
    right: 0;
    background: #000;
    color: #fff;
    outline: 0;
    border: 0;
    font-size: 18px;
    width: 35px;
    height: 34px;
}


/* END HEADER */


/* FOOTER */

#footer {
    background-color: #fafafa;
}

#foot-top {
    padding: 50px 0;
}

#foot-top .block {
    padding-left: 30px!important;
    padding-right: 0!important;
}

#foot-top .block:first-child {
    padding-left: 0!important;
    padding-right: 0!important;
}

#foot-top h3 {
    margin-bottom: 25px!important;
    font-size: 20px;
    font-weight: 500;
}

#foot-top h3.title {
    margin-bottom: 25px!important;
    font-size: 28px;
    color: #da1818;
}

#foot-top p.desc {
    color: #6d6d6d;
    font-size: 14px;
    margin-bottom: 25px!important;
}

#foot-top ul.list-item li {
    margin-bottom: 10px;
}

#foot-top .menu-ft ul.list-item li p {
    position: relative;
    font-size: 14px;
    padding-left: 25px;
}

#foot-top .menu-ft ul.list-item li:nth-child(1) p:before,
#foot-top .menu-ft ul.list-item li:nth-child(2) p:before,
#foot-top .menu-ft ul.list-item li:nth-child(3) p:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 0;
}

#foot-top .menu-ft ul.list-item li:nth-child(1) p:before {
    content: '\f3c5';
}

#foot-top .menu-ft ul.list-item li:nth-child(2) p:before {
    content: '\f095';
}

#foot-top .menu-ft ul.list-item li:nth-child(3) p:before {
    content: '\f0e0';
}

.policy .list-item li a {
    position: relative;
    padding-left: 20px;
}

.policy .list-item li a:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #da1818;
    transform: translateY(-50%);
}

#foot-top #newfeed input {
    display: block;
    width: 262px;
    height: 38px;
    font-size: 14px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#foot-top #newfeed button {
    width: 262px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #da1818;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: none;
}


/* END FOOT-TOP */

#foot-bot {
    background: #edecec;
    text-align: center;
    padding: 10px 0px;
}

#foot-bot #copy-right {
    margin-bottom: 0;
    color: #222;
}